/*stili generali di pagina*/

.ms-bg-rgbg{
    background-color:#1bbc9d;
}

.ms-bg-rgbb{
    background-color:#3a556c ;
}

.ms-bg-rgbf{
    background-color:#2d3e51 ;
}

/*stili navbar*/

.ms-inverter{
    filter: invert(1);
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.ms-nav-vis{
    flex-grow: 0;
}

/*img*/

.imgg{
    width: 150px;
    height: 150px;
    padding-top: 20px
}

/*decorazione separè con stella*/

.row-starred{
    width: 70px;
    height: 2px;
    background-color: white;
    margin-top: 7px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 19PX;
}

/*decorazione bottone download*/

.ms-border-white{
    border: 1px solid ;
}

/*form*/

.ms-form{
    border: none;
    border-bottom: 2px solid rgb(233, 233, 233);
    border-radius: 0px;
}

/*loghi around the web*/

.logo-size{
    height: 25px;
    width: 25px;
}
