/*stili generali di pagina*/

.ms-bg-rgbg{
    background-color:#1bbc9d;
}

nav{
    min-height: 50px;
    background-color: #2d3e51;
    color: white; 
}

.navbar-collapse{
    flex-grow: 0;
}

.imgg{
    width: 150px;
    height: 150px;
    padding-top: 20px
}

.row-starred{
    width: 70px;
    height: 2px;
    background-color: white;
    margin-top: 7px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 19PX;
}

.ms-border-white{
    border: 1px solid ;
}